.search__input {
    width: 608px;
    height: 64px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;

    background: #FFFFFF;
    border: 1px solid #D1D2D6;
    box-sizing: border-box;
    backdrop-filter: blur(8px);
    border-radius: 100px;

    padding-left: 19px;

    outline: none
}

.search__input::placeholder {
    color: #B6BCBF;
}
