@import url(_displayed/articles__content_displayed.css);

.articles__content {
    max-width: 1232px;
    margin: 0px auto;

    display: none;
}


@media screen and (max-width: 350px) {
    .articles__content {
        margin: 0px auto;
        min-width: 288px
    }
}
