@import url(__content/about__content.css);
@import url(__author-portrait/about__author-portrait.css);
@import url(__text-area/about__text-area.css);
@import url(__header/about__header.css);
@import url(__description/about__description.css);
.about {
    background-color: #FFFFFF;
    padding: 80px 40px;
}

@media screen and (max-width: 900px) {
    .about {
        padding-top: calc((100vw - 768px)/(900 - 768)*(80 - 40) + 40px);
        padding-bottom: calc((100vw - 768px)/(900 - 768)*(80 - 50) + 50px);
    }
}
