.card__button-container {
    position: relative;
    top: 24px;
    right: 24px;
    border: none;
    width: 88%;

    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    height: min-content;

    /*outline: 1px solid #da8301;*/
}

@media screen and (max-width: 1000px) {
    .card__button-container {
        top: calc((100vw - 768px)/(1000-768)*(24-8) + 8px);
        right: calc((100vw - 768px)/(1000-768)*(24-8) + 8px);

    }
}
