.summary__all-keywords {
    margin: 0 auto 56px 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
}

@media screen and (max-width: 900px) {
    .summary__all-keywords {
        font-size: calc((100vw - 768px)/(900 - 768)*(18 - 14) + 14px);
        margin-bottom: calc((100vw - 768px)/(900 - 768)*(56 - 32) + 32px);
    }
}
