@import url(_displayed/summary__all-keywords_displayed.css);
.summary__all-keywords {
    opacity: 0;

    margin: 0 auto 0 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
}

@media screen and (max-width: 900px) {
    .summary__all-keywords {
        font-size: calc((100vw - 768px)/(900 - 768)*(18 - 14) + 14px);

    }
}

@media screen and (max-width: 768px) {
    .summary__all-keywords {
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    .summary__all-keywords {
        font-size:  calc((100vw - 320px)/(767 - 320)*(14 - 18) + 18px);
    }
}

@media screen and (max-width: 320px) {
    .summary__all-keywords {
        font-size: 18px;
    }
}
