div.card__message-container_keyword {
    opacity: 1;
    margin-right: auto;

    /* если ключевое слово очень длинное, оно не рапидарасит флекс-контейнер */
    max-width: 43%;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: left;
}
