@import url(_current/menu__page_current.css);
@import url(_footer/menu__page_footer.css);
@import url(_black/menu__page_black.css);
@import url(_current-black/menu__page_current-black.css);
.menu__page {
    list-style: none;
    margin: 0 0 0 34px;
    padding-top: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #B6BCBF;
}

.menu__page:first-child {
    margin-left: 0;
}
