span.menu__username {
    font-family: Roboto,Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

@media screen and (max-width: 900px) {
    span.menu__username {
        font-size: 16px;
    }
}
