.search__container {
    max-width: 608px;
    margin: 0 auto;
    padding-top: 80px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

@media screen and (max-width: 1232px) {
    .search__container {
        padding-top: calc((100vw - 768px)/(900-768)*(80-38) + 38px);
    }
}

@media screen and (max-width: 900px) {
    .search__container {
        max-width: calc(57vw + 11px);
    }
}
