.card__message-container {
    background: #FFFFFF;
    box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 0 12px;
    opacity: 0;
}

.card__button:hover + .card__message-container {
    display: flex;
    opacity: 1;
    transition: all .3s ease-in;
}
