@import url(_hidden/card_hidden.css);
@import url(__illustration/card__illustration.css);
@import url(__button-container/card__button-container.css);
@import url(__button/card__button.css);
@import url(__content/card__content.css);
@import url(__date/card__date.css);
@import url(__header/card__header.css);
@import url(__text/card__text.css);
@import url(__source/card__source.css);
@import url(__article/card__article.css);
@import url(__message-container/card__message-container.css);
@import url(__message/card__message.css);
@import url(__button-icon/card__button-icon.css);
@import url(__keyword/card__keyword.css);

.card {
    max-width: 400px;
    border-radius: 15px;

    background-color: #FFFFFF;

    /*
    background-color: blue;

    outline: cadetblue 1px solid;


    display: flex;
    flex-direction: column;*/
}

@media screen and (max-width: 900px) {
    .card {
        max-height: calc((100vw - 768px)/(900 - 768)*(576 - 420) + 420px);
    }
}

@media screen and (max-width: 767px) {
    .card {
        max-height: fit-content;
    }
}
