.about__author-portrait {
    margin-right: 56px;
    width: 50%;
    align-self: center;
    /* Здесь нужно подумать, у какого конкретно блока min/max/просто width/heigth и кто влияет на чью ширину в итоге */
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    border-radius: 50%;
}

@media screen and (max-width: 900px) {
    .about__author-portrait {
        margin-right: calc((100vw - 768px)/(900-768)*(56-32) + 32px);
        width: calc((100vw - 768px)/(900-768)*(50-34) + 34%)
    }
}
