<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta>
  <title>News Explorer</title>
  <link rel="
  icon" href="<%=require('../images/favicon.ico')%>">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
</head>

<body>
  <div class="root">
    <header class="header header_black-underline">
      <div class="header__container">
        <a class="header__logo header__logo_black-font">NewsExplorer</a>
        <div class="header__menu-button header__menu-button_black"></div>
        <nav class="header__menu-container menu">
          <ul class="menu__pages-container">
            <li class="menu__page menu__page_black"><a href="./index.html">Главная</a></li>
            <li class="menu__page menu__page_saved-art menu__page_current menu__page_current-black"><a href="./articles.html">Сохранённые
              статьи</a></li>
          </ul>
          <button class="menu__auth-button menu__auth-button_black">
            <span class="menu__username">Грета</span>
            <img class="menu__logout-icon" src="<%=require('../images/logout-black.png')%>"
                 alt="Кнопка для выхода из сервиса">
          </button>
        </nav>
      </div>
    </header>
    <main>
      <section class="summary">
        <div class="summary__content">
          <h2 class="summary__header">Сохранённые статьи</h2>
          <p class="summary__saved-articles">Грета,&nbspу&nbspвас&nbsp5 сохранённых статей</p>
          <p class="summary__all-keywords">По ключевым словам: <span class="summary__keyword">Природа,</span> <span
                  class="summary__keyword">Тайга</span> и <span class="summary__keyword">2 другим</span></p>
        </div>
      </section>
      <section class="articles articles_saved">
        <div class="articles__content">
          <div class="articles__container">
            <div class="card">
              <div class="card__illustration"
                   style="background-image: url('<%= require(`../images/saved-card-1.jpg`) %>')">
                <div class="card__button-container">
                  <button class="card__button">
                    <img class="card__button-icon" src="<%=require('../images/delete-button.svg')%>"
                         alt="Кнопка для добавления статьи в избранное">
                  </button>
                  <div class="card__message-container card__message-container_message">
                    <span class="card__message">Убрать из сохранённых</span>
                  </div>
                  <div class="card__message-container card__message-container_keyword">
                    <span class="card__keyword">Природа</span>
                  </div>
                </div>
              </div>
              <div class="card__content">
                <div class="card__article">
                  <p class="card__date">2 августа, 2019</p>
                  <h2 class="card__header">Национальное достояние – парки</h2>
                  <p class="card__text">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала
                    складываться система национальных парков – охраняемых территорий, где и сегодня каждый может
                    приобщиться к природе.</p>
                  <p class="card__source">Дзен</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card__illustration"
                   style="background-image: url('<%= require(`../images/saved-card-2.jpg`) %>')">
                <div class="card__button-container">
                  <button class="card__button">
                    <img class="card__button-icon" src="<%=require('../images/delete-button.svg')%>"
                         alt="Кнопка для выхода из сервиса">
                  </button>
                  <div class="card__message-container card__message-container_message">
                    <span class="card__message">Убрать из сохранённых</span>
                  </div>
                  <div class="card__message-container card__message-container_keyword">
                    <span class="card__keyword">Природа</span>
                  </div>
                </div>
              </div>
              <div class="card__content">
                <div class="card__article">
                  <p class="card__date">2 августа, 2019</p>
                  <h2 class="card__header">Лесные огоньки: история одной фотографии</h2>
                  <p class="card__text">Фотограф отвлеклась от освещения суровой политической реальности Мексики, чтобы
                    запечатлеть ускользающую красоту одного
                    из местных чудес природы.</p>
                  <p class="card__source">Афиша</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card__illustration"
                   style="background-image: url('<%= require(`../images/saved-card-3.jpg`) %>')">
                <div class="card__button-container">
                  <button class="card__button">
                    <img class="card__button-icon" src="<%=require('../images/delete-button.svg')%>"
                         alt="Кнопка для выхода из сервиса">
                  </button>
                  <div class="card__message-container card__message-container_message">
                    <span class="card__message">Убрать из сохранённых</span>
                  </div>
                  <div class="card__message-container card__message-container_keyword">
                    <span class="card__keyword">Тайга</span>
                  </div>
                </div>
              </div>
              <div class="card__content">
                <div class="card__article">
                  <p class="card__date">2 августа, 2019</p>
                  <h2 class="card__header">«Первозданная тайга»: новый фотопроект Игоря Шпиленка</h2>
                  <p class="card__text">Знаменитый фотограф снимает первозданные леса России, чтобы рассказать о
                    необходимости их сохранения. В этот раз он отправился в Двинско-Пинежскую тайгу, где...</p>
                  <p class="card__source">Медиазона</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card__illustration"
                   style="background-image: url('<%= require(`../images/saved-card-1.jpg`) %>')">
                <div class="card__button-container">
                  <button class="card__button">
                    <img class="card__button-icon" src="<%=require('../images/delete-button.svg')%>"
                         alt="Кнопка для выхода из сервиса">
                  </button>
                  <div class="card__message-container card__message-container_message">
                    <span class="card__message">Убрать из сохранённых</span>
                  </div>
                  <div class="card__message-container card__message-container_keyword">
                    <span class="card__keyword">Парки</span>
                  </div>
                </div>
              </div>
              <div class="card__content">
                <div class="card__article">
                  <p class="card__date">2 августа, 2019</p>
                  <h2 class="card__header">Национальное достояние – парки</h2>
                  <p class="card__text">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала
                    складываться система национальных парков – охраняемых территорий, где и сегодня каждый может
                    приобщиться к природе.</p>
                  <p class="card__source">Дзен</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card__illustration"
                   style="background-image: url('<%= require(`../images/saved-card-2.jpg`) %>')">
                <div class="card__button-container">
                  <button class="card__button">
                    <img class="card__button-icon" src="<%=require('../images/delete-button.svg')%>"
                         alt="Кнопка для выхода из сервиса">
                  </button>
                  <div class="card__message-container card__message-container_message">
                    <span class="card__message">Убрать из сохранённых</span>
                  </div>
                  <div class="card__message-container card__message-container_keyword">
                    <span class="card__keyword">Фотографии</span>
                  </div>
                </div>
              </div>
              <div class="card__content">
                <div class="card__article">
                  <p class="card__date">2 августа, 2019</p>
                  <h2 class="card__header">Лесные огоньки: история одной фотографии</h2>
                  <p class="card__text">Фотограф отвлеклась от освещения суровой политической реальности Мексики, чтобы
                    запечатлеть ускользающую красоту одного
                    из местных чудес природы.</p>
                  <p class="card__source">Афиша</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__content">
        <p class="footer__copyrigth">© 2020 Supersite, Powered by News API</p>
        <nav class="menu footer__menu-container ">
          <ul class="menu__pages-container menu__pages-container_footer">
            <li class="menu__page menu__page_footer"><a href="./index.html">Главная</a></li>
            <li class="menu__page menu__page_footer"><a href="https://praktikum.yandex.ru/">Яндекс.Практикум</a></li>
          </ul>
          <div class="menu__icons-container">
            <a class="menu__icon" href="https://github.com/ev-shamko">
              <img src="<%=require('../images/icon-github.png')%>"
                   alt="Ссылка на гитхаб">
            </a>
            <a class="menu__icon" href="https://www.facebook.com/">
              <img src="<%=require('../images/icon-facebook.png')%>"
                   alt="Ссылка на фейсбук">
            </a>
          </div>
      </div>
  </div>
  </footer>
  </div>
  <script src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>

</html>
