<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta>
  <title>News Explorer</title>
  <link rel="
  icon" href="<%=require('../images/favicon.ico')%>">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
</head>

<body>
  <div class="root">
    <header class="header">
      <div class="header__container">
        <a class="header__logo">NewsExplorer</a>
        <nav class="header__menu-container menu">
          <ul class="menu__pages-container">
            <li class="menu__page menu__page_current"><a href="/index.html">Главная</a></li>
            <li class="menu__page"><a href="./articles.html">Сохранённые статьи</a></li>
          </ul>
          <button class="menu__auth-button">
            <span class="menu__username">Грета</span>
            <img class="menu__logout-icon" src="<%=require('../images/logout-white.png')%>" alt="">
          </button>
        </nav>
      </div>
    </header>
    <main>
      <section class="search">
        <div class="search__background"></div>
        <div class="search__container">
          <h3 class="search__title">Что в мире творится?</h3>
          <p class="search__subtitle">Находите самые свежие статьи на любую тему и сохраняйте в
            своём&nbspличном&nbspкабинете.</p>
          <div class="search__field">
            <input class="search__input" name="searchinput" placeholder="Введите тему новости">
            <button class="search__button">Искать</button>
          </div>
        </div>
      </section>
      <section class="articles">
        <div class="articles__content">
          <h2 class="title">Результаты поиска</h2>
          <div class="articles__container">
            <div class="card">
              <div class="card__illustration">
                <div class="card__button-container">
                  <button class="card__button"></button>
                  <div class="card__message-container">
                    <span class="card__message">Войдите, чтобы сохранять статьи</span>
                  </div>
                </div>
              </div>
              <div class="card__content">
                <div class="card__article">
                  <p class="card__date">2 августа, 2019</p>
                  <h2 class="card__header">Национальное достояние – парки</h2>
                  <p class="card__text">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала
                    складываться система национальных парков – охраняемых территорий, где и сегодня каждый может
                    приобщиться к природе.</p>
                </div>
                <p class="card__source">Лента.ру</p>
              </div>
            </div>
            <div class="card">
              <div class="card__illustration">
                <div class="card__button-container">
                  <button class="card__button"></button>
                  <div class="card__message-container">
                    <span class="card__message">Войдите, чтобы сохранять статьи</span>
                  </div>
                </div>
              </div>
              <div class="card__content">
                <div class="card__article">
                  <p class="card__date">2 августа, 2019</p>
                  <h2 class="card__header">Лесные огоньки: история одной фотографии</h2>
                  <p class="card__text">Фотограф отвлеклась от освещения суровой политической реальности Мексики, чтобы
                    запечатлеть ускользающую красоту одного
                    из местных чудес природы.</p>
                </div>
                <p class="card__source">Медуза</p>
              </div>
            </div>
            <div class="card">
              <div class="card__illustration">
                <div class="card__button-container">
                  <button class="card__button"></button>
                  <div class="card__message-container">
                    <span class="card__message">Войдите, чтобы сохранять статьи</span>
                  </div>
                </div>
              </div>
              <div class="card__content">
                <div class="card__article">
                  <p class="card__date">2 августа, 2019</p>
                  <h2 class="card__header">«Первозданная тайга»: новый фотопроект Игоря Шпиленка</h2>
                  <p class="card__text">Знаменитый фотограф снимает первозданные леса России, чтобы рассказать о
                    необходимости их сохранения. В этот раз он отправился в Двинско-Пинежскую тайгу, где...</p>
                </div>
                <p class="card__source">Риа</p>
              </div>
            </div>
            <div class="card">
              <div class="card__illustration">
                <div class="card__button-container">
                  <button class="card__button"></button>
                  <div class="card__message-container">
                    <span class="card__message">Войдите, чтобы сохранять статьи</span>
                  </div>
                </div>
              </div>
              <div class="card__content">
                <div class="card__article">
                  <p class="card__date">2 августа, 2019</p>
                  <h2 class="card__header">Национальное достояние – парки</h2>
                  <p class="card__text">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала
                    складываться система национальных парков – охраняемых территорий, где и сегодня каждый может
                    приобщиться к природе.</p>
                </div>
                <p class="card__source">Лента.ру</p>
              </div>
            </div>
            <div class="card">
              <div class="card__illustration">
                <div class="card__button-container">
                  <button class="card__button"></button>
                  <div class="card__message-container">
                    <span class="card__message">Войдите, чтобы сохранять статьи</span>
                  </div>
                </div>
              </div>
              <div class="card__content">
                <div class="card__article">
                  <p class="card__date">2 августа, 2019</p>
                  <h2 class="card__header">Лесные огоньки: история одной фотографии</h2>
                  <p class="card__text">Фотограф отвлеклась от освещения суровой политической реальности Мексики, чтобы
                    запечатлеть ускользающую красоту одного
                    из местных чудес природы.</p>
                </div>
                <p class="card__source">Медуза</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <a href="./articles.html">Ссылка на сохранённые страницы</a>
    </footer>

    <script type="module" src="<%= htmlWebpackPlugin.files.js %>"></script>
  </div>
</body>
</html>
