.search__field {
    position: relative;
    height: 64px;
    margin-bottom: 64px;
}

@media screen and (max-width: 1200px) {
    .search__field {
        height: calc((100vw - 768px)/(1200 - 768)*(64 - 56) + 56px);
        margin-bottom: calc((100vw - 768px)/(1200 - 768)*(64 - 48) + 48px);
    }
}

@media screen and (max-width: 670px) {
    .search__field {
        margin-bottom: 104px;
    }
}
