.card__content {
    padding: 20px 24px 24px;

    /* Пока что здесь будет ограничение по высоте карточки
     для соответствия макету при первичной вёрстке,
     но в будущем этот блок я бы организовала иначе,
     в т.ч. сделала бы его высоту больше */
    /*max-height: 260px;*/

    /*display: flex;
    flex-direction: column;
    justify-content: space-between;*/

    /*background-color: cornsilk;*/
}

@media screen and (max-width: 900px) {
    .card__content {
        padding: calc((100vw - 768px)/(900-768)*(24-16) + 16px);
    }
}
