.articles__container {
    display: grid;

    /* По 3 карточки в ряд, но их ширина сжимается */
    grid-template-columns: repeat(3,1fr);
    gap: 16px;

    /*  для переноса карточек на новую строку
    grid-template-columns: repeat(auto-fill,400px);
    grid-template-rows: repeat(auto-fill,576px);
    */
    column-gap: 16px;
    row-gap: 16px;
    justify-content: center;
}
