.summary__header {
    margin: 0 auto 28px 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: rgba(26, 27, 34, 0.5);
}

@media screen and (max-width: 900px) {
    .summary__header {
        font-size: calc((100vw - 768px)/(900 - 768)*(18 - 14) + 14px);
        margin-bottom: calc((100vw - 768px)/(900 - 768)*(28 - 16) + 16px);
    }
}
