.about__content {
    max-width: 1120px;
    margin: 0px auto;
    padding-right: 109px;

    display: flex;
    justify-content: flex-start;

    /*outline: 1px solid #da8301;*/
}

@media screen and (max-width: 900px) {
    .about__content {
        padding-right: calc((100vw - 768px)/(900 - 768)*(109 - 0) + 0px);
    }
}

@media screen and (max-width: 768px) {
    .about__content {
        padding-right: 0px;
    }
}

@media screen and (max-width: 750px) {
    .about__content {
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .about__content {
        min-width: 320px;
    }
}
